@import "./normalize.css";

body{
  background-color: aqua;
}
/*根伪类 =》 获取根元素*/
:root {
  /* 提前定义一个变量 */
  --font-size: 14px; 
  --color-tint: pink;
}
*::after{
  margin: 0;
  padding: 0;
}
*::before {
  margin: 0;
  padding: 0;
}